{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h2>You have changed your password successfully!</h2>

    <div class="button-container" style="margin-top: 20px;">
        <a href="/login" class="button">Login Now!</a>
    </div>
{% endblock %}
